#slide_dichvu{
	margin:0 auto;
	width:990px;
	height:208px;
	padding:24px 0px 28px 0px;
	background:url(../images/slide_dichvu.jpg) no-repeat;
	overflow:hidden;
	position:relative;
}
#content{
	margin: 20px auto 10px;
	background:url(../images/center_bg.jpg) no-repeat center bottom;
	padding-bottom:44px;
	width:990px;
}
#center{
	float:left;
	width:662px;
	overflow:hidden;
}
.center_title{
	background:url(../images/title_bg.jpg) repeat-x 0px 11px;
	margin-bottom:15px;
	font-size:18px;
	font-family: 'uvn_bai_sauregular';;
	font-weight:normal;
	text-transform:uppercase;
	line-height:normal;
	padding-top:8px\0/IE9;
	#padding-top:8px;
}
@-moz-document url-prefix() {
.center_title {background:url(../images/title_bg.jpg) repeat-x 0px 9px;}
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
.center_title {background:url(../images/title_bg.jpg) repeat-x 0px 9px;}
}

.center_title a{
	color:#f01863;
	background:#fff;
	padding-right:5px;
	display:inline;
	
}
.cuahang_item{
	float:left;
	width:201px;
	height:225px;
	margin:0px 29px 20px 0px;
	overflow:hidden;
}
.cuahang_img{
	display:block;
	width:200px;
	height:125px;
	overflow:hidden;
	text-align:center;
	margin-bottom:7px;
}
.cuahang_item h3 a{
	display:block;
	color:#5b5b5b;
	padding:3px 0px;
}
.cuahang_item h3 a:hover{
	color:#f01863;
}
.center_group{
	width:690px;
}
.news_item{
	float:left;
	width:316px;
	height:110px;
	margin:0px 29px 14px 0px;
	padding-bottom:14px;
	overflow:hidden;
	border-bottom:1px solid #e2e2e2;
}
.news_img{
	width:118px;
	height:109px;
	overflow:hidden;
	text-align:center;
	margin-right:10px;
	float:left;
}
.news_item h3{
	padding-bottom:5px;	
}
.news_item h3 a:hover{
	color:#f01863;
}
.news_item h3 a{
	color:#5b5b5b;
	display: block;
	height: 18px;
	overflow: hidden;
}
.news_item p{
	display: block;
	height: 70px;
	overflow: hidden;
}
.news_date{
	color:#999999;
	font-size:11px;
}
.item{
	width: 662px;
	overflow: hidden;
	border-bottom: 1px solid #E2E2E2;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.item h3 a{
	color:#5b5b5b;
	display: block;
	height: 18px;
	overflow: hidden;
}
.item h3 a:hover{
	color:#f01863;
}
.paging{
	height: 28px;
	line-height: 28px;
	text-align: center;
}
.paging a{
	border: 1px solid #f01863;
	color: #5B5B5B;
	font-weight: bold;
	padding: 5px 10px;
}
.paging a.active{
	color:#f01863;
}
.detail_title{
	margin-bottom: 5px;
}
.detail{
	background:  none repeat scroll 0 0 #FFDBE8;
	padding: 5px;
}
h1.title{
	font-size: 18px;
	color: #F01863;
	margin: 10px 0;
}
.detail p{
	padding: 0 0 5px;
}
.other h3{
	font-size: 16px;
	font-weight: bold;
	color: #F01863;
	margin: 10px 0 5px;
}
.other a{
	color: #5B5B5B;
	display: block;
	margin: 5px 0;
}
.other a:hover{
	color: #F01863;
}
.detail, .map, .other{
	margin: 0 0 15px 0;
}
.map-title{
	color: #F01863;
	font-size: 16px;
	font-weight: bold;
}
#map_canvas{
	height: 400px;
	width: 662px;
}
#branch-list{
	display: block;
	margin: 10px 0 15px;;
	padding-top: 5px; 
}
#branch-list a{
	color: #5B5B5B;
	font-size: 16px;
	padding: 5px 10px 2px;
	margin-right: 5px;
	float:left;
}
#branch-list a:hover{
	border-bottom: solid 3px #5B5B5B; 
}
#branch-list a.active{
	border-bottom: solid 3px #ff0066;
	color: #F01863;
}
.note{
	font-weight: bold;
	font-size: 14px;
	margin: 30px 0 10px 0;
}

.contact_form label{
	float: left;
	font-weight: bold;
	height: 28px;
	line-height: 28px;
	margin: 0 0 15px 0;
	width: 100px;
}
.contact_form input{
	float: left;
	line-height: 18px;
	margin: 0 0 15px 0;
	height: 18px;
	padding: 5px;
	width: 300px;
}
.contact_form textarea{
	float: left;
	height: 200px;
	padding: 5px;
	width: 500px;
}
.contact_form input.button{
	background: url("../images/title_bg.jpg") repeat scroll 0 9px transparent;
	height: 28px;
	border: none;
	color: #FFF;
	line-height: 18px;
	padding: 5px 10px;
	width: auto;
	margin: 10px 10px 10px 0;
	width: auto;
	font-weight: bold;
	cursor: pointer;
}

.width_img{
	width:200px;
	height:125px;
	overflow:hidden;
	text-align:center;
	margin-right:10px;
	float:left;
}
.promote_img{
	width:100px;
	height:100px;
	overflow:hidden;
	text-align:center;
	margin-right:10px;
	float:left;
}
.qr-code {
	text-align: center;
	margin: 20px 0;
}
.gallery{
	width: 800px;
}
.gallery-item{
	display: block;
	width: 200px;
	height: 150px;
	border: solid 1px #E2E2E2;
	float: left;
	margin: 0 18px 20px 0;
	padding: 3px;
}
.highslide img {
	border: none !important;
}
