#wrapper{
	width:990px;
	margin:auto;
	overflow:hidden;
}
#header{
	height:378px;
	position:relative;
	width:1044px;
	margin:auto;
	background:url(../images/header_bg.jpg) no-repeat center top;
}

.logo{
	position:absolute;
	left:25px;
	top:50px;
	display:block;
	width:235px;
	height:60px;
}
.about_home{
	position:absolute;
	left:22px;
	top:155px;
	display:block;
	width:520px;
	color:#fdb0cb;
	font-size:25px;/*17px*/
	line-height:22px;
	font-family: 'uvn_bai_sauregular';
	z-index:10;
	height: 125px;
	overflow: hidden;	
}
.about_home_cn{
	font-size: 30px;
}
.about_home_title{
	color:#fff;
	font-size:40px;
	line-height:52px;
	font-family: 'uvn_dzung_dakaoregular';
	height:52px;
	overflow: hidden;
	display: block;
}
.link_mangxahoi{
	margin-left: 20px;
	float:left;
}
.link_mangxahoi p,.link_mangxahoi a{
	color: #FFF;
	float:left;
	margin-right:5px;
	font-size: 14px;
}
.support{
	position:absolute;
	left:25px;
	bottom:60px;
	color:#FFF;
	font-weight:bold;
	font-size: 14px;
	z-index:10;
	width: 520px;
}
.support p,.support a{
	float:left;
	margin-right:5px;
}
.support p span{
	color:#336699;
}
.reservation{
	position:absolute;
	left:25px;
	bottom:30px;
	color:#ffff33;
	font-weight:bold;
	font-size:20px;
}
.reservation p{
	color: #FFF;
	float:left;
	margin-right:5px;
}
.reservation-text{
	font-size: 20px;
	font-weight: bold;
}
.reservation-number{
	color:#ED2F86;
	font-weight: bold;
	font-size: 20px;
}
.lang_link{
	position:absolute;
	right:43px;
	top:85px;
	z-index:10;
}
.lang_link a{
	color:#fff;
	float:left;
	/*background:url(../images/lang.jpg) no-repeat right center;*/
	padding: 0 5px;
}
.lang_link a.active{
	color: #FF0066;
	border-bottom: 3px solid #FF0066;
}
.shadow_bottom{
	position:absolute;
	right:27px;
	bottom:0px;
	z-index:10;
}
#sitebar{
	float:right;
	width:307px;
	overflow:hidden;
}
.sitebar_tuyendung{
	width:277px;
	padding:10px 15px 15px 15px;
	margin-bottom:13px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #ffdbe8;	
}
.tuyendung_item{
	border-bottom:1px solid #fab1cb;
	padding-bottom:10px;
	margin-bottom:10px;
}
.tuyendung_item a{
	font-weight: bold;
	color:#333333;
	display:block;
}
.tuyendung_item p.datetime{
	color:#f9689a;
	font-size:11px;
}
.promote_item{
	height: 155px;
	width: 128px;
	float: left;
	margin: 0 10px 10px 0;
	text-align: center;
	padding-bottom: 5px;
}
.promote_item a{
	color:#333333;
	display:block;
}
.promote_item p{
	color:#333333;
	font-size:11px;
	font-weight: bold;
}
.promote_item a.promote{
	height: 18px;
	overflow: hidden;
	font-weight: bold;
}
.quangcao{
	display:block;
	width:306px;
	overflow:hidden;
	text-align:center;
}
.sitebar_tuyendung .center_title a{
	background: #ffdbe8;
}
#footer{
	width:990px;
	position:relative;
	height:57px;
	color:#807f7f;
	margin:auto;
}
.copyright{
	float:left;
	margin-right: 100px;
}
.footer-reservation{
	float:left;
}
.truycap{
	position:absolute;
	right:0;
	top:0;	
	text-align:right;
	font-size:11px;
}
.truycap span{
	font-weight:bold;
	color:#ed2f86;
}
.hotline_vi{
	margin-right: 20px !important;
}
.hotline_cn{
	margin-right: 28px !important;
}
.hotlinenumber_cn{
	letter-spacing: 3px;
}
.hotlinenumber_en{
	letter-spacing: 1px;
}
.hotline_en{
	margin-right: 20px !important;
}