ul.menu_top{
    clear:both;
    width:100%;
    background:url(../images/bg_menu.jpg) left top repeat-x;
    height:48px;
}
.menu_top li{
    float:left;
    /*height:48px;*/
    line-height:38px;
    position:relative;
}
.menu_top li a {
    display:block;
    float: left;
    text-align:left;
    color: #fff;
    padding: 0 15px;
    line-height: 48px;
    font-size:15px !important;
}
.menu_top li a.active,
.menu_top li a:hover{
  background: #516E00;
}
.menu_top span{
	display: block;;
	width: 2px;
	float: left;
	height: 48px;
	background:url(../images/bg_menu_span.png) left center no-repeat;
}
.menu_left{
    width:10px;
    height:48px;
    background:url(../images/menu_left.jpg) left top no-repeat;
}

.menu_top li{
    position:relative;
}
.menu_top ul{
    position:absolute;
    top:48px;
    z-index:99999;
    display:none;
}
.menu_top li:hover ul{
    display:block;
}

.menu_top ul li{
    background:none;
    margin:0px;
}
.menu_top ul li a{
    height:40px !important;
    font-size:14px !important;
    background:url(../images/bg_menu.jpg) left center repeat-x !important;
    color:#FFF;
    line-height:40px !important;
    text-indent:15px;
    width:240px !important;
    border-bottom:1px solid #5c7701;
}
.menu_top ul li a:hover{
    background:url(../images/bg_menu_top_chi_hover.jpg) left center repeat-x !important;
}
.menu_left{
    width:10px;
    height:48px;
    background:url(../images/menu_left.jpg) left top no-repeat;
}

.menu_right{
    width:10px;
    height:48px;
    float:right !important;
    background:url(../images/menu_right.jpg) right top no-repeat;
}

.menu_bot{
    height:36px;
    width:100%;
    position:relative;
    background:url(../images/bg_menu_bot.jpg) left center repeat-x;
    line-height:36px;
}
.menu_bot ul li a{
    color:#91a54b;
    font-size:15px;
    font-family: 'utm_amerika_sansregular';
    margin:0px 10px;
}
.menu_bot ul li a:hover,.menu_bot ul li .active{
    color:#264900;
}
.menu-full{
    background: rgba(0, 0, 0, 0) url("../images/bg_menu.jpg") repeat-x scroll left top;
}
