.div-hover {
	list-style: none;
	margin: 10px auto;
	padding: 10px 0 0;
	border: 1px solid #ddd;
	max-height: 440px;
	overflow: auto;
}

.div-hover li {
	display: inline-block;
	margin: 0;
	text-align: left;
	position: relative;
	padding: 0 10px 10px;
	height: 210px;
	overflow: hidden;
}

.div-hover figure {
	background: #ddd;
	border: 1px solid #eee;
	width: 100%;
	height: 200px;
	margin: 0;
	position: relative;
	overflow: hidden;
}

.div-hover figure img {
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
	margin: auto;
}

.div-hover figcaption {
	position: absolute;
	top: 140px;
	left: 0;
	background: #2c3f52;
	color: #ed4e6e;
	height: 60px;
	width: 100%;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.div-hover figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.div-hover figcaption a {
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
	position: absolute;
	bottom: 14px;
	right: 20px;
}

.no-touch .div-hover figure:hover img,
.div-hover figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.no-touch .div-hover figure:hover figcaption,
.div-hover figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}